body {
    font-family: sans-serif;
    color: orange;
    background-color: black;
}

.center {
    text-align: center;
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

.rtr {
    color: yellow;
}